build-regular:
  stage: build-regular
  script:
    - make clean
    - make

test-regular:
  stage: test-regular
  script:
    - make test
  needs: [build-regular]

build-coverage:
  stage: build-coverage
  script:
    - make clean
    - make coverage

test-coverage:
  stage: test-coverage
  script:
    - make test
    - gcovr --xml-pretty --exclude-unreachable-branches --print-summary -o coverage.xml --root ${CI_PROJECT_DIR}
  coverage: /^\s*lines:\s*\d+.\d+\%/
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}
    expire_in: 2 days
    reports:
      cobertura: build/coverage.xml
  needs: [build-coverage]

